/* ================= NAVBAR (Light & Dark Theme) ================= */

.dashboard-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--navbar-bg);
  color: var(--text);
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

/* LEFT */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
}

.logo span {
  color: inherit;
}

/* CENTER */
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links li {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: var(--primary);
}

/* RIGHT */
.profile {
  display: flex;
  align-items: center;
  gap: 18px;
}

.login-btn {
  background: #2563eb;
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.login-btn:hover {
  background: #1d4ed8;
}

.theme-btn {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text);
}

.theme-btn:hover {
  transform: rotate(20deg) scale(1.1);
}