.hero{

    text-align:center;

    padding:50px 20px;

    border-radius:25px;

    background:linear-gradient(135deg,#2563eb,#3b82f6);

    color:white;

    box-shadow:0 15px 40px rgba(37,99,235,.25);

}

.hero h1{

    font-size:52px;

    margin-bottom:15px;

}

.hero p{

    font-size:22px;

    opacity:.95;

}