*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2563eb;
    color:white;
    padding:18px 50px;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links li{
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
}

.nav-links li:hover{
    color:#ffd700;
}

.login-btn{
    background:white;
    color:#2563eb;
    border:none;
    padding:10px 20px;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.login-btn:hover{
    background:#ffd700;
    color:black;
}

/* Right Side */
.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

/* Theme Icon */
.theme-toggle{
    background:transparent;
    border:none;
    font-size:28px;
    cursor:pointer;
    transition:0.3s;
}

.theme-toggle:hover{
    transform:scale(1.2) rotate(20deg);
}

/* Navbar Theme */

.light .navbar{
    background:#2563eb;
    color:white;
}

.dark .navbar{
    background:#1f2937;
    color:white;
}

.light .nav-links li,
.dark .nav-links li{
    color:white;
}

.light .logo,
.dark .logo{
    color:white;
}