* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  transition: all 0.4s ease;
}

/* Light Theme */
.app.light {
  background: #f8fafc;
  color: #111827;
}

/* Dark Theme */
.app.dark {
  background: #111827;
  color: white;
}
.light{
    background:#ffffff;
    color:#111827;
    min-height:100vh;
    transition:0.4s;
}

.dark{
    background:#111827;
    color:white;
    min-height:100vh;
    transition:0.4s;
}